/* #cindy
{
    display: block;
    width: 250px;
    height: auto;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    border-radius: 50%;
} */

p
{

    text-align: justify;
    word-wrap: normal;
    /* inline-size: 57vw; */
    /* inline-size: 500px; */
    /* max-width: min(500px,90%);
    margin-left: auto;
    margin-right: auto;
    font-size: max(16pt, 1.5vw); */

}

/* .left-align
{
    text-align: left;
    margin-left: 5%;

} */

/* a
{
    color: black;
}
a:hover
{
    color: black;
}
h1
{
    font-family: 'Times New Roman', serif;
}

h6
{
    font-family: 'Times New Roman', serif;
    font-size: larger;

} */